body {
  background-color: #003B73;
  font-family: "Finger Paint", cursive;
}

h1 {
  text-align: center;
  color: #0074B7;
  font-size: 48px;
  margin-top: 70px;
}

.game-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 80px;
}

.game {
  background-color: #0074B7;
  mix-blend-mode: lighten;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  user-select: none;
  cursor: pointer;
}

.game:hover {
  background-color: #0074b790;
  transition: 0.7s;
}

.game h2 {
  color: #60A3D9;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.game .resizable-image {
  display: block;
  margin: 0 auto;
  width: 100px;
  max-width: 100%;
}

.game p {
  color: #BFD7ED;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.game {
  width: calc(100% / 8 - 20px);
  margin-right: 20px;
}

@media (max-width: 768px) {
  .game {
    width: calc(100% / 3 - 20px);
  }
}
